/*Estilos personalizados*/



/* Estilo personalizado para el sidebar */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40;
    padding-top: 20px;
}

/* Estilo para el contenido principal */
.main-content {
    margin-left: 260px;
    padding: 15px;
}

/* Color de fondo del menú desplegable */
.custom-select {
    background-color: #343a40;
    color: white;
}